<div class="container">

  <header class="header">
    <div class="logo">
      <img src="assets/images/works/photografer/logo.png" alt="">
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Collections</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">About</a>
        </li>
        <li class="menu__list-item">
          <a class="menu__list-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="main">
    <div class="main__text-pair">
      <h1>Street<br>Photograper</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis diam a eros molestie,
        sit amet accumsan sem fermentum. Duis ac nunc nec elit tincidunt egestas. Donec ac dui mauris. Aenean vestibulum
        gravida erat, vitae sodales eros auctor id.</p>
    </div>
  </section>

  <section class="portfolio">
    <div class="portfolio__title">
      <span class="portfolio__title-line"></span>
      <h2 class="portfolio__title-heading">Collections</h2>
    </div>
    <ul class="portfolio__inner">
      <li class="portfolio__left-side">
        <div class="portfolio__left-side-wrapper">
          <div class="portfolio__left-side-photo">
            <img src="assets/images/works/photografer/img-1-c.png" alt="">
            <img src="assets/images/works/photografer/img-1-bw.jpg" alt="">
          </div>
          <div class="portfolio__left-side-body">
            <div class="portfolio__left-side-text-pair">
              <p>14.05.2019</p>
              <p>Paris</p>
            </div>
            <div class="portfolio__left-side-information">
              <h2 class="portfolio__left-side-heading">This is the Future</h2>
              <p class="portfolio__left-side-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra accumsan in nisl nisi scelerisque eu
                ultrices.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="portfolio__right-side">
        <div class="portfolio__right-side-wrapper">
          <div class="portfolio__right-side-photo">
            <img src="assets/images/works/photografer/img-2-c.png" alt="">
            <img src="assets/images/works/photografer/img-2-bw.jpg" alt="">
          </div>
          <div class="portfolio__right-side-body">
            <div class="portfolio__right-side-text-pair">
              <p>14.02.2019</p>
              <p>Berlin</p>
            </div>
            <div class="portfolio__right-side-information">
              <h2 class="portfolio__right-side-heading">Light</h2>
              <p class="portfolio__right-side-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="about">
    <div class="about__substrate"></div>
    <div class="about__inner">
      <div class="about__inner-left-side">
        <div class="about__inner-left-side-wrapper">
          <div class="about__inner-left-side-heading">
            <h2>Sam<br>Scott</h2>
          </div>
        </div>
      </div>
      <div class="about__inner-right-side">
        <div class="about__inner-right-side-wrapper">
          <div class="about__inner-right-side-photo">
            <img src="/assets/images/works/photografer/img-3-c.png" alt="">
            <img src="/assets/images/works/photografer/img-3-bw.jpg" alt="">
          </div>
          <div class="about__inner-information">
            <p>Vitae sapien pellentesque habitant morbi tristique senectus. Fusce ut placerat orci nulla pellentesque
              dignissim enim sit. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Ornare aenean euismod
              elementum nisi quis eleifend quam. Suscipit adipiscing bibendum est ultricies integer quis auctor elit.
              Lectus proin nibh nisl condimentum. Felis imperdiet proin fermentum leo vel orci porta. Id cursus metus
              aliquam eleifend mi. Cras sed felis eget velit aliquet sagittis id. Mauris a diam maecenas sed enim ut sem
              viverra aliquet. Integer eget aliquet nibh praesent tristique magna sit. Facilisi etiam dignissim diam
              quis
              enim lobortis scelerisque fermentum. Morbi tristique senectus et netus et. Morbi tristique senectus et
              netus
              et malesuada fames. Sit amet risus nullam eget felis eget. Dictumst vestibulum rhoncus est pellentesque
              elit. Mauris a diam maecenas sed enim.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="contact__inner">
      <div class="contact__inner-right-side">
        <p>Contact Me</p>
      </div>
      <div class="contact__inner-left-side">
        <div class="contact__inner-left-side-info">
          <div class="contact__inner-left-side-info-box">
            <p class="contact__inner-left-side-info-heading">Address</p>
            <p class="contact__inner-left-side-info-text">767 Fifth Ave.<br>New York, NY 10153</p>
          </div>
          <div class="contact__inner-left-side-info-box">
            <p class="contact__inner-left-side-info-heading">Email</p>
            <a class="contact__inner-left-side-info-text" href="mailto:sam.scott@gmail.com">sam.scott@gmail.com</a>
          </div>
          <div class="contact__inner-left-side-info-box">
            <p class="contact__inner-left-side-info-heading">Phone</p>
            <a class="contact__inner-left-side-info-text" href="tel:+123456789">+123 456 789</a>
          </div>
          <div class="contact__inner-left-side-info-box">
            <p class="contact__inner-left-side-info-heading">Follow me</p>
            <div class="contact__inner-left-side-info-social">
              <a href="#"><svg width="11" height="19" viewBox="0 0 11 19" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10 1.1226V3.81971H8.36458C7.76736 3.81971 7.36458 3.94231 7.15625 4.1875C6.94792 4.43269 6.84375 4.80048 6.84375 5.29087V7.22176H9.89583L9.48958 10.2458H6.84375V18H3.65625V10.2458H1V7.22176H3.65625V4.99459C3.65625 3.72776 4.01736 2.7453 4.73958 2.04718C5.46181 1.34906 6.42361 1 7.625 1C8.64584 1 9.4375 1.04086 10 1.1226Z"
                    stroke="#1E252C" />
                </svg></a>
              <a href="#"><svg width="22" height="17" viewBox="0 0 22 17" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 2.78125C19.4615 3.54688 18.8105 4.19922 18.047 4.73828C18.055 4.84766 18.059 5.01172 18.059 5.23047C18.059 6.2461 17.9063 7.25976 17.6009 8.27148C17.2955 9.28321 16.8313 10.2539 16.2084 11.1836C15.5856 12.1133 14.8441 12.9355 13.9841 13.6504C13.1241 14.3652 12.0874 14.9355 10.8737 15.3613C9.6601 15.7871 8.3621 16 6.9797 16C4.8016 16 2.80838 15.4336 1 14.3008C1.2813 14.332 1.59475 14.3477 1.94036 14.3477C3.74874 14.3477 5.36019 13.8086 6.77475 12.7305C5.93083 12.7148 5.17534 12.4629 4.50825 11.9746C3.84116 11.4863 3.38304 10.8633 3.13388 10.1055C3.39911 10.1445 3.64425 10.1641 3.86929 10.1641C4.21489 10.1641 4.55647 10.1211 4.89404 10.0352C3.99386 9.85547 3.24842 9.41993 2.65768 8.72852C2.06694 8.03711 1.77157 7.23438 1.77157 6.32031V6.27344C2.31811 6.57031 2.90482 6.73047 3.53173 6.75391C3.00127 6.41015 2.57932 5.96094 2.26586 5.40625C1.95241 4.85156 1.79569 4.25 1.79569 3.60156C1.79569 2.91406 1.9725 2.27735 2.32614 1.69141C3.29865 2.85547 4.48212 3.78711 5.87659 4.48633C7.27105 5.18555 8.76395 5.57422 10.3553 5.65234C10.291 5.35547 10.2589 5.06641 10.2589 4.78516C10.2589 3.73828 10.6386 2.84571 11.3982 2.10742C12.1577 1.36914 13.0759 1 14.1529 1C15.2781 1 16.2265 1.39843 16.9981 2.19531C17.8742 2.03125 18.698 1.72656 19.4695 1.28125C19.1722 2.17969 18.6015 2.875 17.7576 3.36719C18.5051 3.28906 19.2525 3.09375 20 2.78125Z"
                    stroke="#1E252C" />
                </svg>
              </a>
              <a href="#"><svg width="19" height="19" viewBox="0 0 19 19" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M5.58383 0.056213C6.59567 0.0187375 7.90104 0 9.5 0C11.099 0 12.4043 0.0187375 13.4162 0.056213C14.2781 0.0936885 15.0463 0.243588 15.7209 0.505917C16.3705 0.755754 16.9326 1.11801 17.4073 1.5927C17.882 2.06739 18.2442 2.62952 18.4941 3.27909C18.7564 3.95365 18.9063 4.72189 18.9438 5.58383C18.9813 6.59567 19 7.90104 19 9.5C19 11.099 18.9813 12.4043 18.9438 13.4162C18.9063 14.2781 18.7564 15.0463 18.4941 15.7209C18.2442 16.3705 17.882 16.9326 17.4073 17.4073C16.9326 17.882 16.3705 18.2442 15.7209 18.4941C15.0463 18.7564 14.2781 18.9063 13.4162 18.9438C12.4043 18.9813 11.099 19 9.5 19C7.90104 19 6.59567 18.9813 5.58383 18.9438C4.72189 18.9063 3.95365 18.7564 3.27909 18.4941C2.62952 18.2442 2.06739 17.882 1.5927 17.4073C1.11801 16.9326 0.755754 16.3705 0.505917 15.7209C0.243588 15.0463 0.0936885 14.2781 0.056213 13.4162C0.0187375 12.4043 0 11.099 0 9.5C0 7.90104 0.0187375 6.59567 0.056213 5.58383C0.0936885 4.72189 0.243588 3.95365 0.505917 3.27909C0.755754 2.62952 1.11801 2.06739 1.5927 1.5927C2.06739 1.11801 2.62952 0.755754 3.27909 0.505917C3.95365 0.243588 4.72189 0.0936885 5.58383 0.056213ZM13.5661 1.2929C12.5168 1.25542 11.1614 1.23669 9.5 1.23669C7.83858 1.23669 6.48324 1.25542 5.43392 1.2929C4.75937 1.31788 4.13478 1.43655 3.56016 1.64892C2.66074 2.02367 2.02367 2.66074 1.64892 3.56016C1.43655 4.13478 1.31788 4.75937 1.2929 5.43392C1.25542 6.48324 1.23669 7.83858 1.23669 9.5C1.23669 11.1614 1.25542 12.5168 1.2929 13.5661C1.31788 14.2406 1.43655 14.8652 1.64892 15.4398C2.02367 16.3393 2.66074 16.9763 3.56016 17.3511C4.13478 17.5634 4.75937 17.6821 5.43392 17.7071C6.48324 17.7446 7.83858 17.7633 9.5 17.7633C11.1614 17.7633 12.5168 17.7446 13.5661 17.7071C14.2406 17.6821 14.8652 17.5634 15.4398 17.3511C16.3393 16.9763 16.9763 16.3393 17.3511 15.4398C17.5634 14.8652 17.6821 14.2406 17.7071 13.5661C17.7446 12.5168 17.7633 11.1614 17.7633 9.5C17.7633 7.83858 17.7446 6.48324 17.7071 5.43392C17.6821 4.75937 17.5634 4.13478 17.3511 3.56016C16.9763 2.66074 16.3393 2.02367 15.4398 1.64892C14.8652 1.43655 14.2406 1.31788 13.5661 1.2929ZM6.80177 12.1982C7.55129 12.9352 8.45068 13.3037 9.5 13.3037C10.5493 13.3037 11.4456 12.9321 12.1889 12.1889C12.9321 11.4456 13.3037 10.5493 13.3037 9.5C13.3037 8.45068 12.9321 7.55441 12.1889 6.81114C11.4456 6.06788 10.5493 5.69625 9.5 5.69625C8.45068 5.69625 7.55441 6.06788 6.81114 6.81114C6.06788 7.55441 5.69625 8.45068 5.69625 9.5C5.69625 10.5493 6.06476 11.4487 6.80177 12.1982ZM6.05227 6.05227C7.00165 5.10289 8.15088 4.62821 9.5 4.62821C10.8491 4.62821 11.9984 5.10289 12.9477 6.05227C13.8971 7.00165 14.3718 8.15088 14.3718 9.5C14.3718 10.8491 13.8971 11.9984 12.9477 12.9477C11.9984 13.8971 10.8491 14.3718 9.5 14.3718C8.15088 14.3718 7.00165 13.8971 6.05227 12.9477C5.10289 11.9984 4.62821 10.8491 4.62821 9.5C4.62821 8.15088 5.10289 7.00165 6.05227 6.05227ZM15.3649 3.63511C15.6022 3.85996 15.7209 4.12853 15.7209 4.44083C15.7209 4.75312 15.6085 5.01857 15.3836 5.23718C15.1588 5.45579 14.884 5.56509 14.5592 5.56509C14.2469 5.56509 13.9814 5.45579 13.7628 5.23718C13.5442 5.01857 13.4349 4.75312 13.4349 4.44083C13.4349 4.11604 13.5442 3.84122 13.7628 3.61637C13.9814 3.39152 14.2469 3.27909 14.5592 3.27909C14.8715 3.27909 15.14 3.39776 15.3649 3.63511Z"
                    fill="#1E252C" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="test">
    <p>test git</p>
  </div>



</div>