// import component-reset.scss

:host {


  a,
  p,
  h1,
  h2,
  h3,
  h4,
  span {
    color: black;
  }


  .container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

    .header {
      z-index: 1;
      position: sticky;
      top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 30px;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 17px;
      font-family: 'Piazzolla', serif;

      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100vw;
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(5px);
      }

      .logo,
      .menu {
        position: relative;
      }

      .logo {
        margin-right: auto;

        >img {
          height: auto;
          width: 80px;
        }
      }

      .menu {
        &__list-item {
          display: inline-block;

          &:not(:first-child) {
            padding-left: 20px;
          }
        }

        &__list-link:hover {
          text-decoration: underline;
        }
      }
    }

    .main {
      margin: 100px 140px 0px;

      &__text-pair {
        >h1 {
          font-weight: 600;
          font-size: 120px;
          line-height: 140px;
          margin-bottom: 25px;
        }

        >p {
          width: 60%;
          text-align: justify;
          font-size: 18px;
          line-height: 30px;
        }
      }
    }

    .portfolio {
      position: relative;
      margin-top: 364px;

      &__title {
        font-size: 26px;
        transform: rotate(-90deg) translateX(-0.7em);
        transform-origin: 0% 0%;
        display: flex;

        &-line {
          margin: auto 20px auto 0px;
          width: 65px;
          height: 1px;
          background-color: grey;
        }

        &-heading {
          font-weight: 600;
          font-size: 26px;
          line-height: .7em;
          color: grey;
        }
      }

      //
      // gallery styles
      //
      &__inner {
        display: flex;
        width: 100%;
      }

      &__left-side,
      &__right-side {
        width: 50%;

        &-photo {
          position: relative;
          width: 100%;

          &:before {
            content: '';
            display: block;
          }

          >img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:last-child {
              opacity: 1;
              transition: opacity .6s ease-in;
            }
          }

          &:hover {
            >img:last-child {
              opacity: 0;
            }
          }
        }

        &-body {
          display: flex;
          margin-top: 10px;
        }

        &-text-pair {
          text-align: end;
          font-weight: 600;
        }

        &-information {
          margin-left: 10%;

          >h2 {
            font-weight: 600;
            font-size: 26px;
            line-height: 38px;
            letter-spacing: 0.5px;

          }
        }
      }

      // 
      // left side block
      // 
      &__left-side {
        &-wrapper {
          width: 100%;
        }

        &-photo {
          &:before {
            padding-top: 124%;
          }
        }
      }

      // 
      // right side block
      // 
      &__right-side {
        &-wrapper {
          width: 80%;
          margin: 400px 0px 0px 20%;
        }

        &-photo {
          &:before {
            padding-top: 141.6%;
          }
        }
      }
    }

    .about {
      margin-top: 100px;

      &__inner {
        display: flex;
        width: 100%;

        &-left-side {
          width: 30%;

          &-wrapper {
            width: 100%;
          }

          &-heading {
            font-weight: 600;
            font-size: 120px;
            line-height: 140px;
          }
        }

        &-right-side {
          width: 70%;

          &-wrapper {
            width: 70%;
          }

          &-photo {
            position: relative;
            width: 100%;

            &:before {
              content: '';
              display: block;
            }

            >img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;

              &:last-child {
                opacity: 1;
                transition: opacity .6s ease-in;
              }
            }

            &:hover {
              >img:last-child {
                opacity: 0;
              }
            }
          }

          &-information {
            width: 100%;

            >p {
              text-align: justify;
              column-count: 2;
              column-gap: 10px;
            }
          }
        }
      }
    }




    .contact {
      margin-top: 15px;

      &__inner {
        display: flex;
        width: 100%;

        &-right-side,
        &-left-side {
          width: 50%;
        }

        &-right-side {
          margin-top: 180px;

          >p {
            font-weight: bold;
            font-size: 120px;
            line-height: 115px;
          }
        }

        &-left-side {
          margin-top: 125px;

          &-info {
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;

            &-box {
              margin-bottom: 48px;
            }

            &-heading {
              font-family: 'Piazzolla', serif;
              font-size: 13px;
              line-height: 21px;
              letter-spacing: 4px;
              text-transform: uppercase;
              margin-bottom: 20px;
            }

            &-text {
              font-size: 18px;
              line-height: 28px;
            }

            &-social>a+a {
              margin-left: 19px;
            }
          }
        }
      }
    }
  }




  @keyframes image-background {
    0% {
      width: 100%;
    }

    100% {
      width: 10%;
    }
  }
}