@import './font-settings.scss';

@mixin base-font() {
    font-family: 'Courier New', Courier, monospace;
    font-size: $font-size1;
    font-weight: 300;
    text-decoration: none;
    text-transform: lowercase;
    color: rgba(0,12,12,1);
}