<div class="page-wrapper">
    <div class="content-wrapper">
        <div class="parallax-background">
            <img
                src="assets/images/works/mntn/HG@1x.png" 
                srcset="assets/images/works/mntn/HG@2x.png 2x, assets/images/works/mntn/HG@3x.png 3x"
                alt=""
            >
            <img
                src="assets/images/works/mntn/MG@1x.png" 
                srcset="assets/images/works/mntn/MG@2x.png 2x, assets/images/works/mntn/MG@3x.png 3x"
                alt=""
            >
            <img
                src="assets/images/works/mntn/VG@1x.png" 
                srcset="assets/images/works/mntn/VG@2x.png 2x, assets/images/works/mntn/VG@3x.png 3x"
                alt=""
            >
        </div>
        <div class="content">

        </div>
        <!-- empty  -->
    </div>
</div>