
:host{
    .page-wrapper{
        position: relative;
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        perspective: 1px;
        >.content-wrapper{
            position: relative;
            width: 100%;
            >.parallax-background{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                >img{
                    position: absolute;
                    &:nth-child(1){
                        transform: translateZ(0.4px) scale(0.6);
                        width: 100%;
                        left: 0%;
                        right: 0;
                        top: -6.5%;
                    }
                    &:nth-child(2){
                        transform: translateZ(0.5px) scale(0.5);
                        width: 100%;
                        left: 0%;
                        right: 0;
                        top: 5.2%;
                    }
                    &:nth-child(3){
                        transform: translateZ(0.6px) scale(0.4);
                        width: 100%;
                        left: 0%;
                        right: 0;
                        top: 14.17%;
                    }
                }
            }
            >.content{
                position: relative;
                height: 300vh;
                width: 100%;
            }
        }
    }
}